## Netflix Data Cleaning in Python & Interactive Dashboard in Power BI

## üë§ Author

Name: Rakesh Mahakur


Role: Data Analyst | BI & Data Science Enthusiast


GitHub: https://github.com/rakesh-analytics-ops

## üìå Project Summary

This project is about building a practical, end-to-end data preprocessing pipeline using Python and Pandas to turn a raw entertainment dataset into something meaningful and easy to analyze. The main goal is to prepare clean, well-structured data that can be directly used to create clear and insightful dashboards in tools like Power BI, Tableau, and Streamlit.

Along the way, the workflow focuses on understanding data quality, handling missing and inconsistent values, creating useful features, and finally exporting a polished dataset that supports accurate insights and visually strong business reports.

## üõ†Ô∏è Tools & Technologies

Python

Pandas

Jupyter Notebook / Google Colab

Power BI (for downstream visualization)

## üìÇ Project Workflow

üîπ Step 1: Dataset Import

Load the raw dataset into a Pandas DataFrame and perform an initial structure and size check.

In [4]:
import pandas as pd

df = pd.read_csv("D:/power bi/NETFLIX/DATASET/netflix_titles.csv")

print("Initial Shape:", df.shape)
df.head()

Initial Shape: (8807, 12)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

üîπ Step 2: Data Understanding

Analyze column data types, identify missing values, and evaluate dataset quality.

In [5]:
# Dataset structure & data types
df.info()

# Check missing values
print("\nMissing Values:\n")
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

Missing Values:

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

üîπ Step 3: Data Cleaning

Remove duplicate records, handle missing values in critical columns, standardize text formatting, and correct data types to maintain data consistency.

In [6]:
# Remove duplicate rows
df = df.drop_duplicates()

print("Shape after removing duplicates:", df.shape)

Shape after removing duplicates: (8807, 12)

üîπ Step 4: Feature Engineering

Create derived features such as content age to support analytical and dashboard-level insights.

In [7]:
# Fill missing values in key columns
df['director'] = df['director'].fillna("Unknown")
df['cast'] = df['cast'].fillna("Not Available")
df['country'] = df['country'].fillna("Unknown")

# Drop rows with missing critical fields
df = df.dropna(subset=['title', 'type'])

print("Missing Values After Cleaning:\n")
df.isnull().sum()

Missing Values After Cleaning:

show_id          0
type             0
title            0
director         0
cast             0
country          0
date_added      10
release_year     0
rating           4
duration         3
listed_in        0
description      0
dtype: int64

üîπ Step 5: Data Validation

Re-verify dataset structure and completeness to ensure the dataset is clean and analysis-ready.

In [8]:
# Convert release_year to integer
df['release_year'] = df['release_year'].astype(int)

df.dtypes

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

üîπ Step 6: Text Standardization

Trimmed leading and trailing whitespaces from key text columns such as title and country to ensure consistency, prevent duplicate category issues, and improve filtering accuracy in downstream BI dashboards.

In [10]:
# Clean text columns
df['title'] = df['title'].str.strip()
df['country'] = df['country'].str.strip()

df[['title', 'country']].head()

                   title        country
0   Dick Johnson Is Dead  United States
1          Blood & Water   South Africa
2              Ganglands        Unknown
3  Jailbirds New Orleans        Unknown
4           Kota Factory          India

üîπ Step 7: Feature Engineering

Created a derived feature content_age by calculating the difference between the current year and the release year to enable trend analysis based on content recency.

In [11]:
# Create derived feature
df['content_age'] = 2025 - df['release_year']

df[['release_year', 'content_age']].head()

   release_year  content_age
0          2020            5
1          2021            4
2          2021            4
3          2021            4
4          2021            4

üîπ Step 8: Data Validation

Performed final dataset verification by reviewing data structure, row count, and missing value summary to ensure the dataset is clean, consistent, and analysis-ready.

In [12]:
print("Final Shape:", df.shape)

df.info()
print("\nFinal Missing Values:\n")
df.isnull().sum()

Final Shape: (8807, 13)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      8807 non-null   object
 4   cast          8807 non-null   object
 5   country       8807 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
 12  content_age   8807 non-null   int64
dtypes: int64(2), object(11)
memory usage: 894.6+ KB

Final Missing Values:

show_id          0
type             0
title            0
director         0
cast             0
country          0
date_added      10
release_year     0
rating           4
duration         3
listed_in        0
description      0
content_age      0
dtype: int64

üîπ Step 9 : Dataset Export

Export the final cleaned dataset as a CSV file for direct use in BI and visualization tools.

In [17]:
# Export cleaned dataset to specific folder
export_path = r"D:\power bi\NETFLIX\DATASET\cleaned_dataset.csv"

df.to_csv(export_path, index=False)

print(f"‚úÖ Cleaned dataset exported successfully to:\n{export_path}")

‚úÖ Cleaned dataset exported successfully to:
D:\power bi\NETFLIX\DATASET\cleaned_dataset.csv